{% extends 'base.html.twig' %}
{% block body %}
<div class="main-containera">

<div class="container-fluid">


<div class="row" style="padding:10px; background:white;">
<legend>View Product</legend>
<table class="table table-bordered">
<tr>
<th>Id</th>
<th>Name</th>
<th>Description</th>
<th>Price</th>
<th>Action</th>
</tr>



{% for item in products %}
<tr>
<td>{{ item.id }}</td>
<td>{{ item.name }}</td>
<td>{{ item.description }}</td>
<td>{{ item.price }}</td>
<td><a href="editproduct/{{item.id}}" class="btn btn-primary">Edit</a><a href="deleteproduct/{{item.id}}" class="btn btn-danger" onclick="return confirm('Are You Sure')">Delete</a></td>
</tr>
{% endfor %}


</table>

</div>
</div>

{% endblock %}